.breadcrumb {
	margin-top: 30px;
	margin-bottom: 30px;

	ul {
		li {
			display: flex;
			a,
			p {
				color: #555555;
				font-size: 13px;
				line-height: 15.24px;
				letter-spacing: 0.1px;
				padding-right: 5px;
			}
		}
	}
}
