.header {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	position: fixed;
	background-color: #f9f9f9;

	.dropdown {
		margin-right: 80px;
		&-toggle {
			font-size: 16px;
			font-weight: 700;
			color: #333333;
			line-height: 18.75px;
			text-transform: capitalize;

			&::after {
				display: none;
			}

			svg {
				color: #717171;
				margin-right: 4px;
			}
		}

		&-menu {
			width: 220px;
			overflow: hidden;
			padding: 0px 12px;
			max-height: 360px;
			overflow-y: scroll;
			background-color: #fff;
			margin-top: 12px !important;
			border: 1px solid #dedede;

			/* width */
			&::-webkit-scrollbar {
				width: 2px;
			}

			/* Track */
			&::-webkit-scrollbar-track {
				// background: #f1f1f1;
				background-color: transparent;
			}

			/* Handle */
			&::-webkit-scrollbar-thumb {
				background: #888;
			}

			/* Handle on hover */
			&::-webkit-scrollbar-thumb:hover {
				background: #555;
			}

			.accordion {
				border: 0px;

				&-header,
				&-button {
					color: #000;
					font-size: 15px;
					font-weight: 400;
					line-height: 20px;
					text-transform: capitalize;
				}

				&-button {
					border: 0px;
					padding: 0px;
					transition: all 0.3s linear;
					background-color: transparent;

					&::after {
						display: flex;
						margin-top: 6px;
						transform: rotate(0deg);
						transition: all 0.3s linear;
						background-image: url("data:image/svg+xml,%3Csvg width='6' height='3' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.958344 9.08337L5.04168 5.00004L0.958343 0.916708' stroke='%23211F54' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
					}

					&:not(.collapsed) {
						box-shadow: none;
						padding-bottom: 4px;
						&::after {
							transform: rotate(90deg);
						}
					}

					&:focus {
						outline: none;
						box-shadow: none;
						background-color: transparent;
					}
				}

				&-item {
					border: 0px;
					padding: 6px 0px;
					border-radius: 0px;
					border-bottom: 1px solid #dedede;

					&:nth-last-child(1) {
						border: 0px;
					}
				}

				&-body {
					padding: 0px;

					&-item {
						a {
							color: #333;
							font-size: 12px;
							line-height: 16px;
							text-transform: capitalize;
						}
					}
				}
			}
		}
	}

	&-top,
	&-bottom {
		.header-top-wrapper,
		.header-bottom-wrapper {
			display: flex;
			align-items: center;
			padding: 0px 32px;
			justify-content: space-between;

			@include max(991px) {
				padding: 0px 12px;
			}
		}
	}

	&-bottom-left,
	&-actions {
		display: flex;
		align-items: center;
	}

	&-top {
		padding: 28px 0px;
		transition: all 0.3s linear;

		@include max(991px) {
			padding: 14px 0px;
		}
	}

	&-bottom {
		padding: 12px 0px;
		&-left {
			.dropdown {
				@include max(1200px) {
					margin-right: 30px;
				}

				@include max(991px) {
					display: none;
				}
			}
		}

		.main-dropdown-menu{

			.cardWrapper{position: absolute; top: 36px; background: #fff; left: 0px;  border-bottom-left-radius: 20px; border-bottom-right-radius: 20px; width: 280px; padding-top: 13px;}
			.categoryTitle{font-size: 16px; padding-left: 20px;}
			.subMenuWrapper li:first-child a{border-top: none;}
			.menuCard>a{display: block; border-top: solid 1px #ccc; width: 100%; position: relative; padding-bottom: 5px;
				padding-top: 9px; cursor: pointer;}
			.menuCard a:hover p{color: #cc3333;}
			ul.cardWrapper li:first-child a{border-top: none;}
			.menuCard a i.fa-chevron-right{position: absolute; right: 0px; top: 9px; font-size: 12px; color:#ACACAC}
			.cardWrapper{background: #fff;}
	
			ul.mainMenu{margin-top: 0px; padding-bottom: 10px;}
			ul.mainMenu>li{ padding-left: 20px; padding-right: 20px; width: 280px; }
			ul.mainMenu>li a i{float: left; color: #888; font-size: 16px;  margin-right: 9px; line-height: 20px;}
			ul.mainMenu>li a p{color: #333; font-size: 14px;}
			.subMenu{position: absolute; display: none; left: 280px; top: 0; height: 418px; background: #f1f1f1; z-index: 12; padding: 20px; width: 800px; padding-top: 20px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px;}
			.subMenu ul.cardWrapper li a{ display: block; }
			.subMenu .subMenuTitle a{color: #333; font-size: 14px; font-weight: 600;}
			.subMenuWrapper{ float: left; }
			.subMenuWrapper ul{margin-top: 10px;}
			.subMenuWrapper ul li a{font-size: 14px; line-height: 20px; height: 20px; color: #333 ; display: block; width: 100%; cursor: pointer;}
			.subMenuWrapper ul li a:hover{color: #cc3333;}
			.subMenuWrapper{ height: 180px; margin-bottom: 20px; }
			.subMenuWrapper .subMenuTitle a:hover{color: #cc3333;}
			ul.mainMenu>li.menuCard:hover>a>p{color: #cc3333; font-weight: bold;}
			ul.mainMenu>li:hover .subMenu{display: block;}

		
			@include max(991px) {
				.cardWrapper {
					position: fixed;
					left: 0;
					top: 76px;
					max-height: 60vh;
					overflow: auto;
					padding-bottom: 50px;
				}
				.subMenu {
					position: static;
					height: auto;
					width: auto;

					.subMenuWrapper {
						height: auto;
						float: none;
					}
				}
			}

			@include min-max(576px, 991px) {
				.cardWrapper{
					top: 97px;
				}
			}

		}
			

	}

	&-logo {
		img {
			max-width: 100%;
			width: 220px;

			@include max(575px) {
				width: 120px;
			}
		}

		span {
			color: #3f3f3f;
			font-size: 15px;
			font-weight: 500;
			line-height: auto;
			margin-left: 8px;
			vertical-align: -10px;
			font-family: $f-secondary;
			text-transform: uppercase;

			@include max(991px) {
				margin: 0;
				display: block;
				font-size: 12px;
			}
		}
	}

	&-search {
		width: 670px;
		overflow: hidden;
		position: relative;

		@include max(1400px) {
			width: 480px;
		}

		@include max(1200px) {
			width: 320px;
		}

		@include max(991px) {
			display: none;
		}

		input {
			width: 100%;
			font-size: 14px;
			line-height: 21px;
			padding: 16px 20px;
			border-radius: 25px;
			border: 2px solid #333333;
			@include max(1200px) {
				padding: 12px 16px;
			}
		}

		button {
			top: 50%;
			right: 20px;
			position: absolute;
			transform: translateY(-50%);
		}
	}

	&-menu {
		display: flex;
		align-items: center;

		@include max(991px) {
			display: none;
		}

		&-item {
			margin-right: 28px;

			@include max(1200px) {
				margin-right: 12px;
			}

			&:nth-last-child(1) {
				margin: 0;
			}

			a {
				color: #000;
				font-size: 15px;
				font-weight: 500;
				white-space: nowrap;
				line-height: 17.58px;
				text-transform: capitalize;
				transition: all 0.3s linear;

				@include max(1200px) {
					font-size: 12px;
					line-height: 16px;
				}

				&:hover {
					color: #ee3f24;
				}
			}
		}
	}

	&-actions {
		.dropdown {
			margin-right: 12px;

			@include min(992px) {
				display: none;
			}

			svg {
				margin: 0;
				color: #717171 !important;
			}
		}

		.sign-in,
		.cart,
		.cart h6 {
			display: flex;
			font-size: 14px;
			color: #333333;
			font-weight: 700;
			line-height: 16.41px;
			align-items: center;

			@include max(991px) {
				font-size: 12px;
			}

			@include max(575px) {
				font-size: 0px;
			}

			span {
				margin-right: 4px;
			}
		}

		.sign-in {
			margin-right: 30px;

			i{
				font-size: 18px;
				margin-right: 5px;
				@include min(992px) {
					margin-top: -3px;
				}
			}

			@include max(991px) {
				margin-right: 12px;
			}

			@include max(767px) {
				margin-right: 6px;
			}
		}

		.cart {
			.icon {
				position: relative;
				margin-right: 12px;
				display: inline-block;

				i{
					font-size: 18px;
				}

				p {
					bottom: -6px;
					right: -10px;
					width: 15px;
					height: 15px;
					color: #fff;
					font-size: 12px;
					position: absolute;
					text-align: center;
					border-radius: 50%;
					line-height: 14.06px;
					background-color: #ff453a;

					@include max(991px) {
						font-size: 10px;
						line-height: 16px;
					}
				}
			}
		}

		.menu-bar {
			width: 22px;
			height: 2px;
			cursor: pointer;
			margin-left: 12px;
			position: relative;
			display: inline-block;
			background-color: #333;

			@include min(992px) {
				display: none;
			}

			&::after,
			&::before {
				left: 0;
				content: "";
				width: 100%;
				height: 2px;
				position: absolute;
				background-color: #333;
			}

			&::after {
				top: -6px;
			}
			&::before {
				top: 6px;
			}
		}
	}

	&-dropmenu {
		width: 100%;
		opacity: 0;
		top: 100%;
		left: 50%;
		padding-top: 16px !important;
		user-select: none;
		position: absolute;
		pointer-events: none;
		flex-direction: column;
		background-color: #fff;
		transform: translate(-50%, -20px);
		transition: all 0.3s linear;
		box-shadow: 0px 7px 32px 0px #514d4d2b;

		&.active {
			opacity: 1;
			user-select: auto;
			pointer-events: all;
			transform: translate(-50%, 0px);
		}

		@include min(992px) {
			display: none !important;
		}

		.menu {
			width: 100%;
			padding: 12px 0px;

			&-item {
				a {
					width: 100%;
					color: #333;
					font-size: 16px;
					font-weight: 500;
					padding: 6px 12px;
					line-height: 22px;
					display: inline-block;
					transition: all 0.3s linear;

					@include max(575px) {
						font-size: 14px;
						padding: 4px 12px;
					}

					&:hover,
					&.active {
						color: #fff;
						background-color: #ee3f24;
					}
				}
			}
		}

		form {
			width: 100%;
			.header-search {
				display: block;
				width: 100%;
			}
		}
	}

	 
	.header {
		&-top.sticky {
			padding: 14px 0px;
		}
	}

	&.dark {
		.header {
			&-bottom {
				color: #fff;
				padding: 0px;
				background-color: #505056;

				@include max(991px) {
					display: none;
				}
			}

			&-menu-item {
				margin-right: 0;
				a {
					color: #e5e5e5;
					padding: 12px 14px;
					display: block;

					&:hover {
						background-color: #000;
						color: #fff;
					}
				}
			}
		}
		.dropdown {
			&-toggle {
				color: #e5e5e5;
				svg {
					color: #e5e5e5;
				}
			}
		}
	}
}
