.product {
	margin-bottom: 40px;
	.heading {
		color: #333333;
		font-size: 22px;
		font-weight: 600;
		line-height: 26.63px;
		margin-bottom: 20px;
		font-family: $f-secondary;
		text-transform: capitalize;
	}

	&-brand {
		position: relative;
		border-radius: 10px;
		padding: 24px 45px;
		border: 1px solid #d3d3d3;

		.brand-logo {
			img {
				max-width: 100%;
			}
		}

		.swiper {
			&-slide {
				text-align: center;
			}
		}
	}
}
